.holder{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 10px;
}
.b1{
	height: 100px;
	width: 100px;
	background-color: red;
	font-size: 2rem;
	order: 1;
}
.b2{
	height: 100px;
	width: 100px;
	background-color: blue;
	font-size: 2rem;
	order: 2;
}
.b3{
	height: 100px;
	width: 100px;
	background-color: green;
	font-size: 2rem;
}
